## Lists

In [1]:
items = [10,20,30,40,50,60,70,80,90,100]
len(items)

10

#### Retireve first four items from the list

In [2]:
items[:4]

[10, 20, 30, 40]

#### Retireve all the items starting from the fourth item

In [3]:
items[4:]

[50, 60, 70, 80, 90, 100]

#### Retireve from second till fourth item (excluding the fourth item)

In [4]:
items[2:4]

[30, 40]

#### Retireve 3rd item from the last

In [5]:
items[-3]

80

#### Retireve last three items

In [6]:
items[-3:]

[80, 90, 100]

#### Retireve all items till the 3rd from last

In [7]:
items[:-3]

[10, 20, 30, 40, 50, 60, 70]

#### Append a list to another list

In [8]:
items.extend([150,140])
items

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 140]

#### Append a single item to the list

In [9]:
items.append(110)
items

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 140, 110]

#### Create a list of list

In [10]:
x = [10,20,30]
y = [170,120,160]

listoflists = [items,y]
listoflists

[[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 140, 110], [170, 120, 160]]

#### Sort  -  ascending

In [11]:
items.sort()
items

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 140, 150]

#### Sort - descending

In [12]:
items.sort(reverse=True)
items

[150, 140, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# Tuples

- Similar to list
- Immutable - Cannot be changed
- ( ) instead of [ ]

In [13]:
t1 = (2,4,6,8,10)
t1

(2, 4, 6, 8, 10)

#### Reference an item the same way as list

In [14]:
t1[3]

8

In [15]:
t2 = (1,3,5,7)

In [16]:
listoftuple = [t1,t2]
listoftuple

[(2, 4, 6, 8, 10), (1, 3, 5, 7)]

#### Split the tuple

In [17]:
(age, income) = "40,8000".split(',')

In [18]:
print(age)
print(income)

40
8000

# Dictionary
- Also called **Hash table or Map**

In [19]:
book = {}
book['title'] = 'Cinderella'
book['author'] = 'Disney'
book['price'] = 5
book['year'] = 1950

In [20]:
for b in book:
    print(f'{b} :  {book[b]}')

title :  Cinderella
author :  Disney
price :  5
year :  1950

# Functions

In [21]:
def squareNum(x):
    return(x*x)

squareNum(9)

81

In [22]:
def cubeNum(x):
    return(x*x*x)

In [23]:
def power12(x):
    return(x ** 12)

power12(8)

68719476736

#### Pass a function as parameter in another function

In [24]:
def passFunction(arg1, arg2):
    return(arg1(8))

passFunction(squareNum, 8)

64

In [25]:
passFunction(cubeNum, 8)

512

In [26]:
passFunction(power12, 8)

68719476736

#### Lambda functions
- a small anonymous function.
- can take any number of arguments, but can only have one expression.
- The power of lambda is better shown when you use them as an anonymous function inside another function.

In [48]:
def topower(n):
    return lambda a : a ** n

In [47]:
passFunction(lambda a : a ** 2, 12)

64

In [49]:
passFunction(topower(7), 2)

2097152

In [34]:
2 ** 7

128

# Boolean

In [57]:
print(8 == 9)

False

In [58]:
print(8 == 8)

True

In [62]:
print(1 is 4)

False

In [68]:
print(True & True)

True

In [69]:
print(True and True)

True

In [73]:
print(True or False)

True

In [74]:
print(True | False)

True

In [72]:
print(False or False)

False

# Looping

In [76]:
for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [78]:
for i in items:
    print(i)

150
140
110
100
90
80
70
60
50
40
30
20
10

In [85]:
for i in items:
    if (i == 80):
        continue
    elif(i < 90):
        break
    print(i)

150
140
110
100
90

In [93]:
x = 10
while(x < 16):
    print(x)
    x = x+1

10
11
12
13
14
15